<a href="https://colab.research.google.com/github/pradeep-dani/pd-mt-iiitdh-colab/blob/main/L2_PDS_CS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Course: Python for Data Science**
**Lecture 2: Control Structures, Data Structures, Fnuctions in Python**

In [ ]:
# if statement, example 1
num = 1
if num == 1:
  print("one")

one

In [ ]:
# if statement, example 2
i=int(input("Enter the number:"))
if (i<=10):
	print(" condition is true")
else:
	print(" condition is false")

Enter the number:15
 condition is false

In [ ]:
# if-else statement, example 1
x=int(input("enter the value "))
if x%2==0:
	print("even")
else:
	print("odd")

enter the value 5
odd

In [ ]:
# elif statement, example 1
num=0
if num==0:
	print("zero value")
elif num<0:
	print("negative")
else:
	print("positive")

zero value

In [ ]:
# elif statement, example 2
a = int(input("Enter 1st number:"))
b= int(input("Enter 2nd number:"))
c= int(input("Enter 3rd number:"))
if (a > b) and (a > c):
	print("a is greater")
elif (b > a) and (b > c):
	print("b is greater")
else:
	print("c is greater")

Enter 1st number:10
Enter 2nd number:300
Enter 3rd number:150
c is greater

In [ ]:
# example of nested if statement
n = int(input("Enter  number: "))
if (n<=15):
	if (n == 10):
		print("play cricket")
	else:
		print("play kabadi")
else:
	print("Donâ€™t play game")

Enter  number: 10
play cricket

In [ ]:
# while loop, example 1, printing numbers from 1 to 10
x=1
while x<=10:
	print("x = ",x)
	x+=1

x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9
x =  10

In [ ]:
# while loop, example 2: sum of numbers
num = int(input("Enter a number: "))
sum = 0
while(num > 0):
  sum = sum+num
  num = num-1
print("The sum is ",sum)

Enter a number: 10
The sum is  55

In [ ]:
# for loop, example 1
str="hello"
for ch in str:
	print(ch)

h
e
l
l
o

In [ ]:
# for loop, example 2, printing sum of numbers in an array
numbers = [6, 5, 3, 8, 4, 2, 5, 4]
sum1 = 0
for val in numbers:
	sum1 = sum1+val
print("The sum is ", sum1)

The sum is  37

**range() function examples of usage**

In [ ]:
#output range(0,10)
print(range(10))

range(0, 10)

In [ ]:
#output [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#output [2, 3, 4, 5, 6, 7]
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [ ]:
#output [2, 5, 8, 11, 14, 17]
print(list(range(5,51,5)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

**Data Structures in Python**

**1. Lists: Mutable sequences that allow modification of elements.**

In [ ]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
print(fruits)
print(fruits[0])

['apple', 'banana', 'cherry']
apple

In [ ]:
# List of integers
numbers = [1, 2, 3, 4, 5]

# List of strings
fruits = ["apple", "banana", "cherry"]

# Mixed data types
mixed = [10, "hello", 3.14, True]

# Empty list
empty = []

In [ ]:
# Nested Lists (List inside another List)
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

In [ ]:
# List with Repeated Elements
repeat = ["python", "python", "python"]

In [ ]:
#Using list() Constructor
letters = list("HELLO")   # ['H', 'E', 'L', 'L', 'O']

In [ ]:
# Accessing List Elements
fruits = ["apple", "banana", "cherry"]

print(fruits[0])   # apple  (first element)
print(fruits[-1])  # cherry (last element)

apple
cherry

**2. Tuples: Immutable sequences that prevent modification after creation.**

In [ ]:
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)
print(fruits)
print(fruits[0])

('apple', 'banana', 'cherry')
apple

In [ ]:
# Basic Examples of Tuples
# Tuple of integers
numbers = (1, 2, 3, 4, 5)

# Tuple of strings
fruits = ("apple", "banana", "cherry")

# Mixed data types
mixed = (10, "hello", 3.14, True)

# Empty tuple
empty = ()

**3. Dictionaries store data as key-value pairs, useful for mapping relationships.**

In [ ]:
students = {"name": "Shankar", "age": 24, "course": "PDS"}
print(students)

{'name': 'Shankar', 'age': 24, 'course': 'PDS'}

In [ ]:
# Basic Examples of Dictionaries
# Empty dictionary
empty_dict = {}

# Simple dictionary
student = {
    "name": "Shankar",
    "age": 24,
    "grade": "A"
}

# Mixed key types
mixed_keys = {
    1: "one",
    "pi": 3.14,
    (2, 3): "tuple as key"
}

In [ ]:
# Accessing Dictionary Values
student = {"name": "Shankar", "age": 24, "grade": "A"}

print(student["name"])      # Shankar
print(student.get("age"))   # 24

Shankar
24

In [ ]:
# Adding & Updating Elements
student["course"] = "Python for Data Science"   # Add new key-value pair
student["grade"] = "A+"              # Update existing key

In [ ]:
# Removing Elements
student.pop("age")       # Removes "age" key
student.popitem()        # Removes last inserted item
del student["grade"]     # Removes "grade"

In [ ]:
# Nested Dictionary
university = {
    "student1": {"name": "Alice", "age": 22},
    "student2": {"name": "Bob", "age": 24}
}

In [ ]:
# Iterating Over a Dictionary
for key, value in student.items():
    print(key, ":", value)

name : Shankar

In [ ]:
# Dictionary Comprehension
squares = {x: x**2 for x in range(1, 6)}
print(squares)   # {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**4. Sets contain unique, unordered elements used for mathematical operations like union and intersection.**

In [ ]:
fruits = {"apple", "banana", "cherry", "banana"}  # Duplicates are ignored
numbers = {1, 2, 3, 4, 5}

fruits.add("grape")                 # Add element
fruits.remove("banana")             # Remove element
fruits.update(["mango", "orange"])  # Add multiple elements
print(fruits)

{'mango', 'grape', 'orange', 'cherry', 'apple'}

In [ ]:
# Basic Examples of Sets
# Empty set (must use set(), not {})
empty_set = set()

# Set of integers
numbers = {1, 2, 3, 4, 5}

# Set of strings
fruits = {"apple", "banana", "cherry"}

# Mixed data types
mixed = {10, "hello", 3.14, True}

In [ ]:
# Removing Duplicates
duplicates = {1, 2, 2, 3, 4, 4, 5}
print(duplicates)   # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Adding and Removing Elements
fruits = {"apple", "banana"}

fruits.add("cherry")       # Add new element
fruits.remove("banana")    # Remove element (KeyError if not present)
fruits.discard("pear")     # Remove safely (no error if not present)

In [ ]:
# Set Operations (like in Mathematics)
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A.union(B))        # {1, 2, 3, 4, 5, 6}
print(A.intersection(B)) # {3, 4}
print(A.difference(B))   # {1, 2}
print(B.difference(A))   # {5, 6}
print(A.symmetric_difference(B)) # {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 5, 6}

In [ ]:
# Membership Test
fruits = {"apple", "banana", "cherry"}
print("apple" in fruits)   # True
print("grape" not in fruits)  # True

True
True

**Functions in Python**

In [ ]:
# Function definition1
def greet():
	print("Hello")

In [ ]:
# Function calling
greet()

Hello

In [ ]:
# Local variable
def fun():
	s = "I love India!"
	print(s)

In [ ]:
s = "I love World!"
fun()
print(s)

I love India!
I love World!

In [ ]:
# Define a global variable
s = "I love India!"

In [ ]:
def fun():
    global s   # tells Python we are using the global variable 's'
    print(s)

In [ ]:
# Function call before re-assigning
fun()

I love India!

In [ ]:
# Update the global variable
s = "I love world!"

# Function call again to see the updated value
fun()

I love world!

In [ ]:
# what is the output of this program fragment?
def fun(x, y):
    global a, b, xg, yg
    a = 10
    x, y = y, x
    b = 30
    c = 30
    print(a, b, x, y)   # inside function
    a, b, xg, yg = 1, 2, 3, 4   # assign globals

fun(50, 100)
print(a, b, xg, yg)     # outside function

10 30 100 50
1 2 3 4

In [ ]:
#Find the output of below program
def fun(x, y):
  global a
  a = 10
  x,y = y,x
  b = 20
  b = 30
  c = 30
  print(a,b,x,y)

In [ ]:
  a, b, x, y = 1, 2, 3,4
  fun(50, 100)
  print(a, b, x, y)

10 30 100 50
10 2 3 4

In [ ]:
def fun1():
    x = 100
    def fun2():
        global x
        x = 200
    print("Before calling fun2: " + str(x))
    print("Calling fun2 now:")
    fun2()
    print("After calling fun2: " + str(x))

fun1()
print("x in main: " + str(x))

Before calling fun2: 100
Calling fun2 now:
After calling fun2: 100
x in main: 200

In [ ]:
#x, y are formal arguments
def sum(x,y):
  z=x+y
  return z #return the result

x,y=4,5
r=sum(x,y) #x, y are actual arguments
print(r)

9

In [ ]:
import math
r=math.sqrt(4)
print(r)

2.0

In [ ]:
s="i love programming"
r=s.capitalize()
print(r)

I love programming

In [ ]:
x=int(input("enter the value greater than 0="))
assert x>0, "wrong input entered"
print("you entered: " ,x)

enter the value greater than 0=10
you entered:  10