<a href="https://colab.research.google.com/github/pradeep-dani/pd-mt-iiitdh-colab/blob/main/Week1_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Course: Python for Data Science, IIIT Dharwad - Week 1 Class Demo**

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
# This is Comment

In [ ]:
"""This would be a multiline comment
in Python that
spans several lines,
yes
"""

'This would be a multiline comment\nin Python that\nspans several lines,\nyes\n'

In [ ]:
print("Hello")

Hello

In [ ]:
print('Hello')

Hello

In [ ]:
# define variable count
count = 0
print(count)

0

In [ ]:
# redefine variable count
count = 2
print(count)

2

In [ ]:
# An integer assignment
age = 45

# A floating point
salary = 1456.8

# A string
name = "Subhash"

print(age)
print(salary)
print(name)

45
1456.8
Subhash

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4

# Addition of numbers
add = a + b
# Subtraction of numbers
sub = a - b
# Multiplication of number
mul = a * b
# Division(float) of number
div1 = a / b
# Division(floor) of number
div2 = a // b
# Modulus (remainder)
mod = a % b
# Exponent (power)
pwr = a ** b

print("Addition =",add)
print("Subtraction = ",sub)
print("Multiplication = ",mul)
print("Division = ",div1)
print("Floor division = ",div2)
print("Modulo = ",mod)
print("Exponent = ",pwr)

Addition = 13
Subtraction =  5
Multiplication =  36
Division =  2.25
Floor division =  2
Modulo =  1
Exponent =  6561

In [ ]:
# Examples of Relational Operators
a = 13
b = 33

# a > b is False
print(a > b)

# a < b is True
print(a < b)

# a == b is False
print(a == b)

# a != b is True
print(a != b)

# a >= b is False
print(a >= b)

# a <= b is True
print(a <= b)

False
True
False
True
False
True

In [ ]:
# Examples of Logical Operator
a = True
b = False

# Print a and b is False
print(a and b)

# Print a or b is True
print(a or b)

# Print not a is False
print(not a)

False
True
False

In [ ]:
print(15 + 20 * 3)

75

In [ ]:
print(13 // 2 + 3)

9

In [ ]:
print(31 + 10 // 3)

34

In [ ]:
print(20 % 7 // 3)

2

In [ ]:
# input() example
name = "ravi"
name = input("Enter your name:")
print("Hello",name)

Enter your name:ravi
Hello ravi

In [ ]:
# Python program showing
# indentation

institute = 'IIITD'

if institute == 'IIITD':
   ('Hi, IIITD student!')
else:
  print('The university is not IIITD')
print('All set !')

All set !