<a href="https://colab.research.google.com/github/pradeep-dani/pd-mt-iiitdh-colab/blob/main/L7L8_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**🎯 ACTIVITY 1: STUDENT GRADE TRACKER**  
**Topic**: Creating and Exploring DataFrames  
**Duration**: 10 minutes  
**Difficulty**: Beginner  
## **Problem Statement**  
You are a teacher managing student grades. Create a DataFrame to store student information and explore the data to understand your class performance.  
Instructions  
1.	Create a DataFrame with student data (provided below)
2.	Display basic information about the dataset
3.	Find the top 3 performing students
4.	Calculate basic statistics  
Sample Data  
student_data = {
    'student_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'name': ['Aarav', 'Rohan', 'Ananya', 'Abdullah', 'Kavya', 'Siddharth', 'Neha', 'Vikram'],
    'subject': ['Math', 'Physics', 'Chemistry', 'Math', 'Physics', 'Chemistry', 'Math', 'Physics'],
    'score': [85, 78, 92, 88, 76, 95, 91, 82],
    'attendance': [95, 88, 97, 92, 85, 98, 94, 89]
}  
Your Tasks  
**Task 1:** Create DataFrame and display first 3 rows  
**Task 2:** Show basic information about the dataset  
**Task 3:** Find students with scores above 90  
**Task 4:** Calculate average score and attendance

In [ ]:
import pandas as pd

# Given data
student_data = {
    'student_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'name': ['Aarav', 'Rohan', 'Ananya', 'Abdullah', 'Kavya', 'Siddharth', 'Neha', 'Vikram'],
    'subject': ['Math', 'Physics', 'Chemistry', 'Math', 'Physics', 'Chemistry', 'Math', 'Physics'],
    'score': [85, 78, 92, 88, 76, 95, 91, 82],
    'attendance': [95, 88, 97, 92, 85, 98, 94, 89]
}

In [ ]:
# Task 1: Create DataFrame and display first 3 rows
students_df = pd.DataFrame(student_data)
print("First 3 rows:")
print(students_df.head(3))
print()

First 3 rows:
   student_id    name    subject  score  attendance
0         101   Aarav       Math     85          95
1         102   Rohan    Physics     78          88
2         103  Ananya  Chemistry     92          97

In [ ]:
# Task 2: Show basic information about the dataset
print("Dataset Info:")
print(f"Shape: {students_df.shape}")
print(f"Columns: {list(students_df.columns)}")
print("\nData Types:")
print(students_df.dtypes)
print("\nBasic Statistics:")
print(students_df.describe())
print()

Dataset Info:
Shape: (8, 5)
Columns: ['student_id', 'name', 'subject', 'score', 'attendance']

Data Types:
student_id     int64
name          object
subject       object
score          int64
attendance     int64
dtype: object

Basic Statistics:
       student_id      score  attendance
count     8.00000   8.000000    8.000000
mean    104.50000  85.875000   92.250000
std       2.44949   6.833479    4.590363
min     101.00000  76.000000   85.000000
25%     102.75000  81.000000   88.750000
50%     104.50000  86.500000   93.000000
75%     106.25000  91.250000   95.500000
max     108.00000  95.000000   98.000000

In [ ]:
# Task 3: Find students with scores above 90
print("Students with scores above 90:")
high_performers = students_df[students_df['score'] > 90]
print(high_performers[['name', 'subject', 'score']])
print()

Students with scores above 90:
        name    subject  score
2     Ananya  Chemistry     92
5  Siddharth  Chemistry     95
6       Neha       Math     91

In [ ]:
# Task 4: Calculate average score and attendance
avg_score = students_df['score'].mean()
avg_attendance = students_df['attendance'].mean()
print(f"Average Score: {avg_score:.2f}")
print(f"Average Attendance: {avg_attendance:.2f}%")

Average Score: 85.88
Average Attendance: 92.25%

In [ ]:
# Bonus: Top 3 students by score
print("\nTop 3 Students by Score:")
top_students = students_df.nlargest(3, 'score')
print(top_students[['name', 'subject', 'score','attendance']])

Top 3 Students by Score:
        name    subject  score  attendance
5  Siddharth  Chemistry     95          98
2     Ananya  Chemistry     92          97
6       Neha       Math     91          94

#**🎯 ACTIVITY 2: LIBRARY BOOK MANAGEMENT**  
**Topic**: Data Selection and Filtering  
**Duration**: 12 minutes  
**Difficulty**: Beginner-Intermediate  
## **Problem Statement**  
You're managing a library system. Use pandas to filter and select books based on different criteria to help librarians and students find what they need.  
**Sample Data**  
library_data = {
    'book_id': ['B001', 'B002', 'B003', 'B004', 'B005', 'B006', 'B007', 'B008'],
    'title': ['Python Basics', 'Data Science Guide', 'Web Development', 'Machine Learning',
              'Database Design', 'Statistics 101', 'AI Fundamentals', 'Programming Logic'],
    'author': ['R. K. Narayan', 'Arundhati Roy', 'Chetan Bhagat', 'Ruskin Bond', 'Anita Desai', 'Vikram Seth', 'Jhumpa Lahiri', 'Amish Tripathi'],
    'category': ['Programming', 'Data Science', 'Web Dev', 'ML', 'Database', 'Math', 'AI', 'Programming'],
    'year': [2020, 2021, 2019, 2022, 2018, 2020, 2023, 2019],
    'pages': [250, 400, 300, 500, 200, 350, 450, 180],
    'available': [True, False, True, True, False, True, True, False]
}  
Your Tasks  
**Task 1:** Select books published after 2020  
**Task 2:** Find available Programming books  
**Task 3:** Get books with more than 300 pages that are available  
**Task 4:** Select specific columns for books by author 'Arundhati Roy' or 'Ruskin Bond'

In [ ]:
import pandas as pd

# Given data
library_data = {
    'book_id': ['B001', 'B002', 'B003', 'B004', 'B005', 'B006', 'B007', 'B008'],
    'title': ['Python Basics', 'Data Science Guide', 'Web Development', 'Machine Learning',
              'Database Design', 'Statistics 101', 'AI Fundamentals', 'Programming Logic'],
    'author': ['R. K. Narayan', 'Arundhati Roy', 'Chetan Bhagat', 'Ruskin Bond', 'Anita Desai', 'Vikram Seth', 'Jhumpa Lahiri', 'Amish Tripathi'],
    'category': ['Programming', 'Data Science', 'Web Dev', 'ML', 'Database', 'Math', 'AI', 'Programming'],
    'year': [2020, 2021, 2019, 2022, 2018, 2020, 2023, 2019],
    'pages': [250, 400, 300, 500, 200, 350, 450, 180],
    'available': [True, False, True, True, False, True, True, False]
}

In [ ]:
# Create DataFrame
library_df = pd.DataFrame(library_data)

In [ ]:
# Task 1: Select books published after 2020
print("Books published after 2020:")
recent_books = library_df[library_df['year'] > 2020]
print(recent_books[['title', 'author', 'year']])
print()

Books published after 2020:
                title         author  year
1  Data Science Guide  Arundhati Roy  2021
3    Machine Learning    Ruskin Bond  2022
6     AI Fundamentals  Jhumpa Lahiri  2023

In [ ]:
# Task 2: Find available Programming books
print("Available Programming books:")
available_programming = library_df[(library_df['category'] == 'Programming') & (library_df['available'] == True)]
print(available_programming[['title', 'author', 'available']])
print()

Available Programming books:
           title         author  available
0  Python Basics  R. K. Narayan       True

In [ ]:
# Task 3: Get books with more than 300 pages that are available
print("Available books with more than 300 pages:")
big_available_books = library_df[(library_df['pages'] > 300) & (library_df['available'] == True)]
print(big_available_books[['title', 'pages', 'available']])
print()

Available books with more than 300 pages:
              title  pages  available
3  Machine Learning    500       True
5    Statistics 101    350       True
6   AI Fundamentals    450       True

In [ ]:
# Task 4: Select specific columns for books by author 'Arundhati Roy' or 'Ruskin Bond'
print("Books by Arundhati Roy or Ruskin Bond:")
specific_authors = library_df[library_df['author'].isin(['Arundhati Roy', 'Ruskin Bond'])]
print(specific_authors[['title', 'author', 'category', 'year']])
print()

Books by Arundhati Roy or Ruskin Bond:
                title         author      category  year
1  Data Science Guide  Arundhati Roy  Data Science  2021
3    Machine Learning    Ruskin Bond            ML  2022

In [ ]:
# Bonus: Complex filtering
print("Recent Data Science/ML books that are available:")
complex_filter = library_df[
    (library_df['year'] >= 2021) &
    (library_df['category'].isin(['Data Science', 'ML'])) &
    (library_df['available'] == True)
]
print(complex_filter[['title', 'category', 'year']])

Recent Data Science/ML books that are available:
              title category  year
3  Machine Learning       ML  2022

#**🎯 ACTIVITY 3: CUSTOMER ORDER ANALYSIS**  
**Topic**: Joining DataFrames  
**Duration**: 15 minutes  
**Difficulty**: Intermediate  
## **Problem Statement**  
An online store has separate datasets for customers and their orders. Join these datasets to analyze customer purchasing behavior and identify valuable customers.  
Sample Data  
customers_data = {
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Rajesh Kumar', 'Meena Roy', 'Amitabh Verma', 'Lakshmi Iyer', 'Sanjay Patel'],
    'city': ['New Delhi', 'Bengaluru', 'Ahmedabad', 'Chennai', 'Mumbai'],
    'signup_date': ['2023-01-15', '2023-02-20', '2023-01-30', '2023-03-10', '2023-02-05']
}  
orders_data = {
    'order_id': [101, 102, 103, 104, 105, 106],
    'customer_id': [1, 2, 1, 3, 6, 2],  # Note: customer_id 6 doesn't exist in customers
    'product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Camera', 'Watch'],
    'amount': [1200, 800, 600, 150, 900, 300],
    'order_date': ['2023-04-01', '2023-04-02', '2023-04-05', '2023-04-03', '2023-04-06', '2023-04-07']
}
  
**Your Tasks**  
**Task 1:** Perform inner join to see customers with orders  
**Task 2:** Perform left join to see all customers (even those without orders)  
**Task 3:** Calculate total spending per customer  
**Task 4:** Find the customer with highest total spending

In [ ]:
import pandas as pd

# Given data
customers_data = {
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Rajesh Kumar', 'Meena Roy', 'Amitabh Verma', 'Lakshmi Iyer', 'Sanjay Patel'],
    'city': ['New Delhi', 'Bengaluru', 'Ahmedabad', 'Chennai', 'Mumbai'],
    'signup_date': ['2023-01-15', '2023-02-20', '2023-01-30', '2023-03-10', '2023-02-05']
}

orders_data = {
    'order_id': [101, 102, 103, 104, 105, 106],
    'customer_id': [1, 2, 1, 3, 6, 2],  # Note: customer_id 6 doesn't exist in customers
    'product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Camera', 'Watch'],
    'amount': [1200, 800, 600, 150, 900, 300],
    'order_date': ['2023-04-01', '2023-04-02', '2023-04-05', '2023-04-03', '2023-04-06', '2023-04-07']
}

In [ ]:
# Create DataFrames
customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)

print("Customers DataFrame:")
print(customers_df)
print("\nOrders DataFrame:")
print(orders_df)
print()

Customers DataFrame:
   customer_id           name       city signup_date
0            1   Rajesh Kumar  New Delhi  2023-01-15
1            2      Meena Roy  Bengaluru  2023-02-20
2            3  Amitabh Verma  Ahmedabad  2023-01-30
3            4   Lakshmi Iyer    Chennai  2023-03-10
4            5   Sanjay Patel     Mumbai  2023-02-05

Orders DataFrame:
   order_id  customer_id     product  amount  order_date
0       101            1      Laptop    1200  2023-04-01
1       102            2       Phone     800  2023-04-02
2       103            1      Tablet     600  2023-04-05
3       104            3  Headphones     150  2023-04-03
4       105            6      Camera     900  2023-04-06
5       106            2       Watch     300  2023-04-07

In [ ]:
# Task 1: Perform inner join to see customers with orders
print("Task 1: Inner Join (Customers with Orders)")
inner_joined = pd.merge(customers_df, orders_df, on='customer_id', how='inner')
print(inner_joined[['name', 'city', 'product', 'amount']])
print()

Task 1: Inner Join (Customers with Orders)
            name       city     product  amount
0   Rajesh Kumar  New Delhi      Laptop    1200
1   Rajesh Kumar  New Delhi      Tablet     600
2      Meena Roy  Bengaluru       Phone     800
3      Meena Roy  Bengaluru       Watch     300
4  Amitabh Verma  Ahmedabad  Headphones     150

In [ ]:
# Task 2: Perform left join to see all customers (even those without orders)
print("Task 2: Left Join (All Customers)")
left_joined = pd.merge(customers_df, orders_df, on='customer_id', how='left')
print(left_joined[['name', 'city', 'product', 'amount']])
print()

Task 2: Left Join (All Customers)
            name       city     product  amount
0   Rajesh Kumar  New Delhi      Laptop  1200.0
1   Rajesh Kumar  New Delhi      Tablet   600.0
2      Meena Roy  Bengaluru       Phone   800.0
3      Meena Roy  Bengaluru       Watch   300.0
4  Amitabh Verma  Ahmedabad  Headphones   150.0
5   Lakshmi Iyer    Chennai         NaN     NaN
6   Sanjay Patel     Mumbai         NaN     NaN

In [ ]:
# Task 3: Calculate total spending per customer
print("Task 3: Total Spending per Customer")
customer_spending = inner_joined.groupby(['customer_id', 'name']).agg({
    'amount': 'sum',
    'order_id': 'count'
}).round(2)
customer_spending.columns = ['total_spent', 'number_of_orders']
print(customer_spending)
print()

Task 3: Total Spending per Customer
                           total_spent  number_of_orders
customer_id name
1           Rajesh Kumar          1800                 2
2           Meena Roy             1100                 2
3           Amitabh Verma          150                 1

In [ ]:
# Task 4: Find the customer with highest total spending
print("Task 4: Customer with Highest Total Spending")
highest_spender = customer_spending.loc[customer_spending['total_spent'].idxmax()]
print(f"Highest spending customer: {highest_spender.name[1]}")
print(f"Total amount: Rs. {highest_spender['total_spent']}")
print(f"Number of orders: {highest_spender['number_of_orders']}")
print()

Task 4: Customer with Highest Total Spending
Highest spending customer: Rajesh Kumar
Total amount: Rs. 1800
Number of orders: 2

In [ ]:
# Bonus: Show customers without any orders
print("Bonus: Customers Without Orders")
no_orders = left_joined[left_joined['order_id'].isnull()]
print(no_orders[['name', 'city']])
print()

Bonus: Customers Without Orders
           name     city
5  Lakshmi Iyer  Chennai
6  Sanjay Patel   Mumbai

In [ ]:
# Bonus: Right join to see orders from unknown customers
print("Bonus: Right Join (All Orders, including from unknown customers)")
right_joined = pd.merge(customers_df, orders_df, on='customer_id', how='right')
unknown_customer_orders = right_joined[right_joined['name'].isnull()]
print("Orders from unknown customers:")
print(unknown_customer_orders[['customer_id', 'product', 'amount']])

Bonus: Right Join (All Orders, including from unknown customers)
Orders from unknown customers:
   customer_id product  amount
4            6  Camera     900

#**🎯 ACTIVITY 4: EMPLOYEE SALARY DATA CLEANUP**  
**Topic**: Handling Missing Data  
**Duration**: 12 minutes  
**Difficulty**: Intermediate  
## **Problem Statement**  
The HR department has an employee dataset with missing information. Clean the data by handling missing values appropriately using different strategies based on the column type and business logic.  
**Sample Data (with intentional missing values)**  
import numpy as np

employee_data = {
    'employee_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['Aarav', 'Riya', np.nan, 'Priya', 'Abdullah', 'Neha', 'Grace', np.nan, 'Suresh', 'Rohit'],
    'department': ['IT', 'HR', 'IT', np.nan, 'Finance', 'IT', 'HR', 'Finance', np.nan, 'HR'],
    'salary': [75000, np.nan, 82000, 65000, np.nan, 71000, 69000, 78000, 73000, np.nan],
    'experience': [5, 8, np.nan, 6, 4, np.nan, 3, 9, 7, 2],
    'performance_rating': [8.5, np.nan, 9.1, 7.8, 8.8, 8.2, np.nan, 8.9, 7.5, 9.0]
}
  
**Your Tasks**  
**Task 1:** Identify missing values in each column  
**Task 2:** Fill missing salaries with department average  
**Task 3:** Fill missing departments with mode (most frequent)  
**Task 4:** Handle missing experience based on performance rating

In [ ]:
import pandas as pd
import numpy as np

# Given data with missing values
employee_data = {
    'employee_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
     'name': ['Aarav', 'Riya', np.nan, 'Priya', 'Abdullah', 'Neha', 'Grace', np.nan, 'Suresh', 'Rohit'],
    'department': ['IT', 'HR', 'IT', np.nan, 'Finance', 'IT', 'HR', 'Finance', np.nan, 'HR'],
    'salary': [75000, np.nan, 82000, 65000, np.nan, 71000, 69000, 78000, 73000, np.nan],
    'experience': [5, 8, np.nan, 6, 4, np.nan, 3, 9, 7, 2],
    'performance_rating': [8.5, np.nan, 9.1, 7.8, 8.8, 8.2, np.nan, 8.9, 7.5, 9.0]
}

In [ ]:
# Create DataFrame
employee_df = pd.DataFrame(employee_data)

print("Original Data with Missing Values:")
print(employee_df)
print()

Original Data with Missing Values:
   employee_id      name department   salary  experience  performance_rating
0            1     Aarav         IT  75000.0         5.0                 8.5
1            2      Riya         HR      NaN         8.0                 NaN
2            3       NaN         IT  82000.0         NaN                 9.1
3            4     Priya        NaN  65000.0         6.0                 7.8
4            5  Abdullah    Finance      NaN         4.0                 8.8
5            6      Neha         IT  71000.0         NaN                 8.2
6            7     Grace         HR  69000.0         3.0                 NaN
7            8       NaN    Finance  78000.0         9.0                 8.9
8            9    Suresh        NaN  73000.0         7.0                 7.5
9           10     Rohit         HR      NaN         2.0                 9.0

In [ ]:
# Task 1: Identify missing values in each column
print("Task 1: Missing Values Analysis")
missing_summary = employee_df.isnull().sum()
missing_percentage = (missing_summary / len(employee_df) * 100).round(1)

missing_analysis = pd.DataFrame({
    'Missing Count': missing_summary,
    'Missing Percentage': missing_percentage
})

print(missing_analysis)
print()

# Create a copy for cleaning
employee_clean = employee_df.copy()

Task 1: Missing Values Analysis
                    Missing Count  Missing Percentage
employee_id                     0                 0.0
name                            2                20.0
department                      2                20.0
salary                          3                30.0
experience                      2                20.0
performance_rating              2                20.0

In [ ]:
# Task 2: Fill missing salaries with department average
print("Task 2: Filling Missing Salaries with Department Average")
print("Before filling salaries:")
print(employee_clean[['name', 'department', 'salary']].head(6))

employee_clean['salary'] = employee_clean.groupby('department')['salary'].transform(
    lambda x: x.fillna(x.mean())
)

# For any remaining NaN salaries (if department is also missing), use overall mean
overall_salary_mean = employee_clean['salary'].mean()
employee_clean['salary'] = employee_clean['salary'].fillna(overall_salary_mean)

print("\nAfter filling salaries:")
print(employee_clean[['name', 'department', 'salary']].head(6))
print()

Task 2: Filling Missing Salaries with Department Average
Before filling salaries:
       name department   salary
0     Aarav         IT  75000.0
1      Riya         HR      NaN
2       NaN         IT  82000.0
3     Priya        NaN  65000.0
4  Abdullah    Finance      NaN
5      Neha         IT  71000.0

After filling salaries:
       name department   salary
0     Aarav         IT  75000.0
1      Riya         HR  69000.0
2       NaN         IT  82000.0
3     Priya        NaN  73875.0
4  Abdullah    Finance  78000.0
5      Neha         IT  71000.0

In [ ]:
# Task 3: Fill missing departments with mode (most frequent)
print("Task 3: Filling Missing Departments with Mode")
print("Department value counts:")
print(employee_clean['department'].value_counts())

department_mode = employee_clean['department'].mode()[0]
print(f"\nMost frequent department: {department_mode}")

employee_clean['department'] = employee_clean['department'].fillna(department_mode)
print("\nAfter filling departments:")
print(employee_clean[['name', 'department']])
print()

Task 3: Filling Missing Departments with Mode
Department value counts:
department
IT         3
HR         3
Finance    2
Name: count, dtype: int64

Most frequent department: HR

After filling departments:
       name department
0     Aarav         IT
1      Riya         HR
2       NaN         IT
3     Priya         HR
4  Abdullah    Finance
5      Neha         IT
6     Grace         HR
7       NaN    Finance
8    Suresh         HR
9     Rohit         HR

In [ ]:
# Task 4: Handle missing experience based on performance rating
print("Task 4: Handling Missing Experience")
print("Missing experience analysis:")
missing_exp_data = employee_clean[employee_clean['experience'].isnull()]
print(missing_exp_data[['name', 'performance_rating', 'experience']])

# Strategy: Use correlation between performance and experience
# Higher performance -> Higher experience (simplified assumption)
def estimate_experience(row):
    if pd.isnull(row['experience']):
        if pd.notnull(row['performance_rating']):
            # Simple formula: experience = performance_rating * 1.2 (rounded)
            return round(row['performance_rating'] * 1.2)
        else:
            # If both are missing, use median experience
            return employee_clean['experience'].median()
    return row['experience']

employee_clean['experience'] = employee_clean.apply(estimate_experience, axis=1)

# Handle missing performance ratings with median
median_performance = employee_clean['performance_rating'].median()
employee_clean['performance_rating'] = employee_clean['performance_rating'].fillna(median_performance)

# Handle missing names
employee_clean['name'] = employee_clean['name'].fillna('Unknown Employee')

print("\nFinal cleaned dataset:")
print(employee_clean)
print()

# Verification: Check for any remaining missing values
print("Final Missing Values Check:")
final_missing = employee_clean.isnull().sum()
print(final_missing)
print()

if final_missing.sum() == 0:
    print("✅ Success! All missing values have been handled.")
else:
    print("❌ Some missing values still remain.")

# Summary of cleaning actions
print("\nSummary of Data Cleaning Actions:")
print("1. Salaries: Filled with department average, then overall average")
print("2. Departments: Filled with mode (most frequent)")
print("3. Experience: Estimated based on performance rating")
print("4. Performance Rating: Filled with median")
print("5. Names: Filled with 'Unknown Employee'")

Task 4: Handling Missing Experience
Missing experience analysis:
   name  performance_rating  experience
2   NaN                 9.1         NaN
5  Neha                 8.2         NaN

Final cleaned dataset:
   employee_id              name department   salary  experience  \
0            1             Aarav         IT  75000.0         5.0
1            2              Riya         HR  69000.0         8.0
2            3  Unknown Employee         IT  82000.0        11.0
3            4             Priya         HR  73875.0         6.0
4            5          Abdullah    Finance  78000.0         4.0
5            6              Neha         IT  71000.0        10.0
6            7             Grace         HR  69000.0         3.0
7            8  Unknown Employee    Finance  78000.0         9.0
8            9            Suresh         HR  73875.0         7.0
9           10             Rohit         HR  69000.0         2.0

   performance_rating
0                8.50
1                8.65
2                9.10
3                7.80
4                8.80
5                8.20
6                8.65
7                8.90
8                7.50
9                9.00

Final Missing Values Check:
employee_id           0
name                  0
department            0
salary                0
experience            0
performance_rating    0
dtype: int64

✅ Success! All missing values have been handled.

Summary of Data Cleaning Actions:
1. Salaries: Filled with department average, then overall average
2. Departments: Filled with mode (most frequent)
3. Experience: Estimated based on performance rating
4. Performance Rating: Filled with median
5. Names: Filled with 'Unknown Employee'

#**🎯 ACTIVITY 5: SALES PERFORMANCE DASHBOARD**  
**Topic**: Grouping and Aggregation  
**Duration**: 15 minutes  
**Difficulty**: Intermediate-Advanced  
## **Problem Statement**  
A retail company wants to analyze sales performance across different regions, products, and salespeople. Use groupby operations to create comprehensive sales insights for management decisions.  
**Sample Data**  
sales_data = {
    'sale_id': range(1, 21),
        'salesperson': ['Aarav', 'Riya', 'Rohan', 'Ananya', 'Vikram', 'Priya', 'Suresh', 'Kavya', 'Neha', 'Sanjay',
'Lakshmi', 'Manish', 'Deepa', 'Arjun', 'Meera', 'Rakesh', 'Pooja', 'Varun', 'Sindhu', 'Rahul'],
    'region': ['North', 'South', 'East', 'West'] * 5,
    'product_category': ['Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home'],
    'sales_amount': [1200, 800, 300, 600, 1500, 900, 250, 700,
                    1300, 850, 320, 650, 1100, 750, 280, 580,
                    1400, 820, 300, 620],
    'units_sold': [3, 8, 5, 2, 4, 9, 4, 3, 3, 7, 6, 2, 2, 6, 3, 2, 4, 8, 5, 3],
    'quarter': ['Q1', 'Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q2',
               'Q3', 'Q3', 'Q3', 'Q3', 'Q4', 'Q4', 'Q4', 'Q4',
               'Q1', 'Q2', 'Q3', 'Q4']
}
  
**Your Tasks**  
**Task 1:** Calculate total sales by salesperson  
**Task 2:** Find average sales amount by region and product category  
**Task 3:** Identify top performing quarter for each region  
**Task 4:** Create a comprehensive performance summary with custom metrics

In [ ]:
import pandas as pd
import numpy as np

# Given sales data
sales_data = {
    'sale_id': range(1, 21),
        'salesperson': ['Aarav', 'Riya', 'Rohan', 'Ananya', 'Vikram', 'Priya', 'Suresh', 'Kavya', 'Neha', 'Sanjay',
'Lakshmi', 'Manish', 'Deepa', 'Arjun', 'Meera', 'Rakesh', 'Pooja', 'Varun', 'Sindhu', 'Rahul'],
    'region': ['North', 'South', 'East', 'West'] * 5,
    'product_category': ['Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home',
                        'Electronics', 'Clothing', 'Books', 'Home'],
    'sales_amount': [1200, 800, 300, 600, 1500, 900, 250, 700,
                    1300, 850, 320, 650, 1100, 750, 280, 580,
                    1400, 820, 300, 620],
    'units_sold': [3, 8, 5, 2, 4, 9, 4, 3, 3, 7, 6, 2, 2, 6, 3, 2, 4, 8, 5, 3],
    'quarter': ['Q1', 'Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q2',
               'Q3', 'Q3', 'Q3', 'Q3', 'Q4', 'Q4', 'Q4', 'Q4',
               'Q1', 'Q2', 'Q3', 'Q4']
}

In [ ]:
# Create DataFrame
sales_df = pd.DataFrame(sales_data)

print("Sales Dataset Overview:")
print(sales_df.head(8))
print(f"\nDataset shape: {sales_df.shape}")
print()

Sales Dataset Overview:
   sale_id salesperson region product_category  sales_amount  units_sold  \
0        1       Aarav  North      Electronics          1200           3
1        2        Riya  South         Clothing           800           8
2        3       Rohan   East            Books           300           5
3        4      Ananya   West             Home           600           2
4        5      Vikram  North      Electronics          1500           4
5        6       Priya  South         Clothing           900           9
6        7      Suresh   East            Books           250           4
7        8       Kavya   West             Home           700           3

  quarter
0      Q1
1      Q1
2      Q1
3      Q1
4      Q2
5      Q2
6      Q2
7      Q2

Dataset shape: (20, 7)

In [ ]:
# Task 1: Calculate total sales by salesperson
print("Task 1: Total Sales by Salesperson")
salesperson_performance = sales_df.groupby('salesperson').agg({
    'sales_amount': ['sum', 'mean', 'count'],
    'units_sold': 'sum'
}).round(2)

# Flatten column names
salesperson_performance.columns = ['total_sales', 'avg_sales', 'num_transactions', 'total_units']

# Sort by total sales
salesperson_performance = salesperson_performance.sort_values('total_sales', ascending=False)
print(salesperson_performance)
print()

Task 1: Total Sales by Salesperson
             total_sales  avg_sales  num_transactions  total_units
salesperson
Vikram              1500     1500.0                 1            4
Pooja               1400     1400.0                 1            4
Neha                1300     1300.0                 1            3
Aarav               1200     1200.0                 1            3
Deepa               1100     1100.0                 1            2
Priya                900      900.0                 1            9
Sanjay               850      850.0                 1            7
Varun                820      820.0                 1            8
Riya                 800      800.0                 1            8
Arjun                750      750.0                 1            6
Kavya                700      700.0                 1            3
Manish               650      650.0                 1            2
Rahul                620      620.0                 1            3
Ananya               600      600.0                 1            2
Rakesh               580      580.0                 1            2
Lakshmi              320      320.0                 1            6
Sindhu               300      300.0                 1            5
Rohan                300      300.0                 1            5
Meera                280      280.0                 1            3
Suresh               250      250.0                 1            4

In [ ]:
# Task 2: Find average sales amount by region and product category
print("Task 2: Average Sales by Region and Product Category")
region_category_avg = sales_df.groupby(['region', 'product_category'])['sales_amount'].mean().round(2)
print("Average Sales Amount:")
print(region_category_avg)
print()

# Pivot table for better visualization
pivot_table = sales_df.pivot_table(
    values='sales_amount',
    index='region',
    columns='product_category',
    aggfunc='mean'
).round(2)

print("Pivot Table - Average Sales by Region x Product Category:")
print(pivot_table)
print()

Task 2: Average Sales by Region and Product Category
Average Sales Amount:
region  product_category
East    Books                290.0
North   Electronics         1300.0
South   Clothing             824.0
West    Home                 630.0
Name: sales_amount, dtype: float64

Pivot Table - Average Sales by Region x Product Category:
product_category  Books  Clothing  Electronics   Home
region
East              290.0       NaN          NaN    NaN
North               NaN       NaN       1300.0    NaN
South               NaN     824.0          NaN    NaN
West                NaN       NaN          NaN  630.0

In [ ]:
# Task 3: Identify top performing quarter for each region
print("Task 3: Top Performing Quarter by Region")
quarterly_regional = sales_df.groupby(['region', 'quarter'])['sales_amount'].sum().reset_index()

# Find max sales quarter for each region
top_quarters = quarterly_regional.loc[quarterly_regional.groupby('region')['sales_amount'].idxmax()]
print(top_quarters)
print()

Task 3: Top Performing Quarter by Region
   region quarter  sales_amount
2    East      Q3           620
4   North      Q1          2600
9   South      Q2          1720
15   West      Q4          1200

In [ ]:
# Task 4: Create a comprehensive performance summary with custom metrics
print("Task 4: Comprehensive Performance Summary")

# Define custom aggregation functions
def sales_range(x):
    return x.max() - x.min()

def efficiency_score(group):
    # Custom metric: sales per unit
    return (group['sales_amount'] / group['units_sold']).mean()

# Multi-level grouping with custom metrics
comprehensive_summary = sales_df.groupby('salesperson').apply(
    lambda group: pd.Series({
        'total_sales': group['sales_amount'].sum(),
        'avg_sales_per_transaction': group['sales_amount'].mean(),
        'total_transactions': len(group),
        'total_units_sold': group['units_sold'].sum(),
        'sales_efficiency': (group['sales_amount'] / group['units_sold']).mean(),
        'sales_variance': group['sales_amount'].std(),
        'best_quarter': group.groupby('quarter')['sales_amount'].sum().idxmax(),
        'regions_covered': group['region'].nunique(),
        'product_categories': group['product_category'].nunique()
    })
).round(2)

print(comprehensive_summary)
print()

# Bonus: Advanced analysis with transform and apply
print("Bonus: Advanced Analysis")

# Add performance rankings within each region
sales_df['regional_rank'] = sales_df.groupby('region')['sales_amount'].rank(ascending=False)

# Add percentage of total sales
total_sales = sales_df['sales_amount'].sum()
sales_df['pct_of_total_sales'] = (sales_df['sales_amount'] / total_sales * 100).round(2)

# Add salesperson average for comparison
sales_df['salesperson_avg'] = sales_df.groupby('salesperson')['sales_amount'].transform('mean')
sales_df['vs_personal_avg'] = sales_df['sales_amount'] - sales_df['salesperson_avg']

print("Enhanced dataset with derived metrics:")
print(sales_df[['salesperson', 'region', 'sales_amount', 'regional_rank',
               'pct_of_total_sales', 'vs_personal_avg']].head(10))
print()

# Final insights
print("Key Business Insights:")
best_salesperson = salesperson_performance.index[0]
best_region_category = pivot_table.stack().idxmax()
total_company_sales = sales_df['sales_amount'].sum()

print(f"1. Top Salesperson: {best_salesperson} with Rs. {salesperson_performance.loc[best_salesperson, 'total_sales']:,.2f}")
print(f"2. Best Region-Category Combo: {best_region_category[0]} - {best_region_category[1]}")
print(f"3. Total Company Sales: Rs. {total_company_sales:,.2f}")
print(f"4. Average Transaction Value: Rs. {sales_df['sales_amount'].mean():.2f}")
print(f"5. Most Consistent Performer: {comprehensive_summary['sales_variance'].idxmin()}")

Task 4: Comprehensive Performance Summary
             total_sales  avg_sales_per_transaction  total_transactions  \
salesperson
Aarav               1200                     1200.0                   1
Ananya               600                      600.0                   1
Arjun                750                      750.0                   1
Deepa               1100                     1100.0                   1
Kavya                700                      700.0                   1
Lakshmi              320                      320.0                   1
Manish               650                      650.0                   1
Meera                280                      280.0                   1
Neha                1300                     1300.0                   1
Pooja               1400                     1400.0                   1
Priya                900                      900.0                   1
Rahul                620                      620.0                   1
Rakesh               580                      580.0                   1
Riya                 800                      800.0                   1
Rohan                300                      300.0                   1
Sanjay               850                      850.0                   1
Sindhu               300                      300.0                   1
Suresh               250                      250.0                   1
Varun                820                      820.0                   1
Vikram              1500                     1500.0                   1

             total_units_sold  sales_efficiency  sales_variance best_quarter  \
salesperson
Aarav                       3            400.00             NaN           Q1
Ananya                      2            300.00             NaN           Q1
Arjun                       6            125.00             NaN           Q4
Deepa                       2            550.00             NaN           Q4
Kavya                       3            233.33             NaN           Q2
Lakshmi                     6             53.33             NaN           Q3
Manish                      2            325.00             NaN           Q3
Meera                       3             93.33             NaN           Q4
Neha                        3            433.33             NaN           Q3
Pooja                       4            350.00             NaN           Q1
Priya                       9            100.00             NaN           Q2
Rahul                       3            206.67             NaN           Q4
Rakesh                      2            290.00             NaN           Q4
Riya                        8            100.00             NaN           Q1
Rohan                       5             60.00             NaN           Q1
Sanjay                      7            121.43             NaN           Q3
Sindhu                      5             60.00             NaN           Q3
Suresh                      4             62.50             NaN           Q2
Varun                       8            102.50             NaN           Q2
Vikram                      4            375.00             NaN           Q2

             regions_covered  product_categories
salesperson
Aarav                      1                   1
Ananya                     1                   1
Arjun                      1                   1
Deepa                      1                   1
Kavya                      1                   1
Lakshmi                    1                   1
Manish                     1                   1
Meera                      1                   1
Neha                       1                   1
Pooja                      1                   1
Priya                      1                   1
Rahul                      1                   1
Rakesh                     1                   1
Riya                       1                   1
Rohan                      1                   1
Sanjay                     1                   1
Sindhu                     1                   1
Suresh                     1                   1
Varun                      1                   1
Vikram                     1                   1

Bonus: Advanced Analysis
Enhanced dataset with derived metrics:
  salesperson region  sales_amount  regional_rank  pct_of_total_sales  \
0       Aarav  North          1200            4.0                7.88
1        Riya  South           800            4.0                5.26
2       Rohan   East           300            2.5                1.97
3      Ananya   West           600            4.0                3.94
4      Vikram  North          1500            1.0                9.86
5       Priya  South           900            1.0                5.91
6      Suresh   East           250            5.0                1.64
7       Kavya   West           700            1.0                4.60
8        Neha  North          1300            3.0                8.54
9      Sanjay  South           850            2.0                5.58

   vs_personal_avg
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              0.0

Key Business Insights:
1. Top Salesperson: Vikram with Rs. 1,500.00
2. Best Region-Category Combo: North - Electronics
3. Total Company Sales: Rs. 15,220.00
4. Average Transaction Value: Rs. 761.00
5. Most Consistent Performer: nan

/tmp/ipython-input-2554962081.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  comprehensive_summary = sales_df.groupby('salesperson').apply(
/tmp/ipython-input-2554962081.py:59: FutureWarning: The behavior of Series.idxmin with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  print(f"5. Most Consistent Performer: {comprehensive_summary['sales_variance'].idxmin()}")

In [ ]:
# Task 4: Create a comprehensive performance summary with custom metrics
print("Task 4: Comprehensive Performance Summary")
import numpy as np  # Add numpy import for np.nan

# Define custom aggregation functions
def sales_range(x):
    return x.max() - x.min()

def efficiency_score(group):
    # Custom metric: sales per unit
    return (group['sales_amount'] / group['units_sold']).mean()

# Multi-level grouping with custom metrics - Compatible version
def create_summary_stats(group):
    """Create summary statistics for each salesperson group"""
    # Calculate sales efficiency safely
    if len(group) > 0 and (group['units_sold'] > 0).all():
        sales_efficiency = (group['sales_amount'] / group['units_sold']).mean()
    else:
        sales_efficiency = np.nan

    # Calculate sales variance safely
    sales_variance = group['sales_amount'].std() if len(group) > 1 else 0.0

    # Find best quarter safely
    if 'quarter' in group.columns and len(group) > 0:
        quarterly_sales = group.groupby('quarter')['sales_amount'].sum()
        best_quarter = quarterly_sales.idxmax() if len(quarterly_sales) > 0 else 'N/A'
    else:
        best_quarter = 'N/A'

    return pd.Series({
        'total_sales': group['sales_amount'].sum(),
        'avg_sales_per_transaction': group['sales_amount'].mean(),
        'total_transactions': len(group),
        'total_units_sold': group['units_sold'].sum(),
        'sales_efficiency': sales_efficiency,
        'sales_variance': sales_variance,
        'best_quarter': best_quarter,
        'regions_covered': group['region'].nunique(),
        'product_categories': group['product_category'].nunique()
    })

# Handle different pandas versions gracefully
try:
    # For pandas 2.0+ (with include_groups parameter)
    comprehensive_summary = sales_df.groupby('salesperson').apply(create_summary_stats, include_groups=False).round(2)
except TypeError:
    # For older pandas versions (without include_groups parameter)
    import warnings
    with warnings.catch_warnings():
        warnings.simplefilter("ignore", DeprecationWarning)
        comprehensive_summary = sales_df.groupby('salesperson').apply(create_summary_stats).round(2)

print(comprehensive_summary)
print()

# Bonus: Advanced analysis with transform and apply
print("Bonus: Advanced Analysis")

# Add performance rankings within each region
sales_df['regional_rank'] = sales_df.groupby('region')['sales_amount'].rank(ascending=False)

# Add percentage of total sales
total_sales = sales_df['sales_amount'].sum()
sales_df['pct_of_total_sales'] = (sales_df['sales_amount'] / total_sales * 100).round(2)

# Add salesperson average for comparison
sales_df['salesperson_avg'] = sales_df.groupby('salesperson')['sales_amount'].transform('mean')
sales_df['vs_personal_avg'] = sales_df['sales_amount'] - sales_df['salesperson_avg']

print("Enhanced dataset with derived metrics:")
print(sales_df[['salesperson', 'region', 'sales_amount', 'regional_rank',
               'pct_of_total_sales', 'vs_personal_avg']].head(10))
print()

# Final insights - Fixed version
print("Key Business Insights:")
best_salesperson = salesperson_performance.index[0]
best_region_category = pivot_table.stack().idxmax()
total_company_sales = sales_df['sales_amount'].sum()

print(f"1. Top Salesperson: {best_salesperson} with Rs. {salesperson_performance.loc[best_salesperson, 'total_sales']:,.2f}")
print(f"2. Best Region-Category Combo: {best_region_category[0]} - {best_region_category[1]}")
print(f"3. Total Company Sales: Rs. {total_company_sales:,.2f}")
print(f"4. Average Transaction Value: Rs. {sales_df['sales_amount'].mean():.2f}")

# Fixed most consistent performer calculation
valid_variance = comprehensive_summary['sales_variance'].dropna()
if len(valid_variance) > 0 and not valid_variance.isna().all():
    most_consistent = valid_variance.idxmin()
    consistency_score = valid_variance.min()
    print(f"5. Most Consistent Performer: {most_consistent} (Variance: {consistency_score:.2f})")
else:
    print("5. Most Consistent Performer: Insufficient data for variance calculation")

# Additional insights with better error handling
print("\nAdditional Performance Metrics:")
print(f"6. Total Salespersons: {len(comprehensive_summary)}")
print(f"7. Average Sales per Salesperson: Rs. {comprehensive_summary['total_sales'].mean():,.2f}")

# Show variance statistics
variance_stats = comprehensive_summary['sales_variance'].describe()
print(f"8. Sales Variance Statistics:")
print(f"   - Mean Variance: {variance_stats['mean']:.2f}")
print(f"   - Min Variance: {variance_stats['min']:.2f}")
print(f"   - Max Variance: {variance_stats['max']:.2f}")

# Alternative consistency measure using coefficient of variation
comprehensive_summary['cv'] = (comprehensive_summary['sales_variance'] / comprehensive_summary['avg_sales_per_transaction']) * 100
valid_cv = comprehensive_summary['cv'].dropna()
if len(valid_cv) > 0:
    most_consistent_cv = valid_cv.idxmin()
    print(f"9. Most Consistent (by CV): {most_consistent_cv} (CV: {valid_cv.min():.2f}%)")

Task 4: Comprehensive Performance Summary
             total_sales  avg_sales_per_transaction  total_transactions  \
salesperson
Aarav               1200                     1200.0                   1
Ananya               600                      600.0                   1
Arjun                750                      750.0                   1
Deepa               1100                     1100.0                   1
Kavya                700                      700.0                   1
Lakshmi              320                      320.0                   1
Manish               650                      650.0                   1
Meera                280                      280.0                   1
Neha                1300                     1300.0                   1
Pooja               1400                     1400.0                   1
Priya                900                      900.0                   1
Rahul                620                      620.0                   1
Rakesh               580                      580.0                   1
Riya                 800                      800.0                   1
Rohan                300                      300.0                   1
Sanjay               850                      850.0                   1
Sindhu               300                      300.0                   1
Suresh               250                      250.0                   1
Varun                820                      820.0                   1
Vikram              1500                     1500.0                   1

             total_units_sold  sales_efficiency  sales_variance best_quarter  \
salesperson
Aarav                       3            400.00             0.0           Q1
Ananya                      2            300.00             0.0           Q1
Arjun                       6            125.00             0.0           Q4
Deepa                       2            550.00             0.0           Q4
Kavya                       3            233.33             0.0           Q2
Lakshmi                     6             53.33             0.0           Q3
Manish                      2            325.00             0.0           Q3
Meera                       3             93.33             0.0           Q4
Neha                        3            433.33             0.0           Q3
Pooja                       4            350.00             0.0           Q1
Priya                       9            100.00             0.0           Q2
Rahul                       3            206.67             0.0           Q4
Rakesh                      2            290.00             0.0           Q4
Riya                        8            100.00             0.0           Q1
Rohan                       5             60.00             0.0           Q1
Sanjay                      7            121.43             0.0           Q3
Sindhu                      5             60.00             0.0           Q3
Suresh                      4             62.50             0.0           Q2
Varun                       8            102.50             0.0           Q2
Vikram                      4            375.00             0.0           Q2

             regions_covered  product_categories
salesperson
Aarav                      1                   1
Ananya                     1                   1
Arjun                      1                   1
Deepa                      1                   1
Kavya                      1                   1
Lakshmi                    1                   1
Manish                     1                   1
Meera                      1                   1
Neha                       1                   1
Pooja                      1                   1
Priya                      1                   1
Rahul                      1                   1
Rakesh                     1                   1
Riya                       1                   1
Rohan                      1                   1
Sanjay                     1                   1
Sindhu                     1                   1
Suresh                     1                   1
Varun                      1                   1
Vikram                     1                   1

Bonus: Advanced Analysis
Enhanced dataset with derived metrics:
  salesperson region  sales_amount  regional_rank  pct_of_total_sales  \
0       Aarav  North          1200            4.0                7.88
1        Riya  South           800            4.0                5.26
2       Rohan   East           300            2.5                1.97
3      Ananya   West           600            4.0                3.94
4      Vikram  North          1500            1.0                9.86
5       Priya  South           900            1.0                5.91
6      Suresh   East           250            5.0                1.64
7       Kavya   West           700            1.0                4.60
8        Neha  North          1300            3.0                8.54
9      Sanjay  South           850            2.0                5.58

   vs_personal_avg
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              0.0

Key Business Insights:
1. Top Salesperson: Vikram with Rs. 1,500.00
2. Best Region-Category Combo: North - Electronics
3. Total Company Sales: Rs. 15,220.00
4. Average Transaction Value: Rs. 761.00
5. Most Consistent Performer: Aarav (Variance: 0.00)

Additional Performance Metrics:
6. Total Salespersons: 20
7. Average Sales per Salesperson: Rs. 761.00
8. Sales Variance Statistics:
   - Mean Variance: 0.00
   - Min Variance: 0.00
   - Max Variance: 0.00
9. Most Consistent (by CV): Aarav (CV: 0.00%)