<a href="https://colab.research.google.com/github/pradeep-dani/pd-mt-iiitdh-colab/blob/main/L8_Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Removing Missing Data**

In [ ]:
import pandas as pd

In [ ]:
# Drop Rows with Any Missing Values:
# Create data with any missing values
data_with_missing = pd.DataFrame({
    'Name': ['Aarav', 'Priya', 'None', 'Ananya'],
    'Age': [22, None, 21, 24],
    'Score': [95, 87, 92, None]
})
print(data_with_missing)
clean_data = data_with_missing.dropna()
print("After removing rows with ANY missing values")
print(clean_data)

     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   NaN   87.0
2    None  21.0   92.0
3  Ananya  24.0    NaN
After removing rows with ANY missing values
    Name   Age  Score
0  Aarav  22.0   95.0
2   None  21.0   92.0

In [ ]:
# Drop Rows with All Missing Values:
# Create data with missing values
data_with_missing = pd.DataFrame({
    'Name': ['Aarav', 'Priya', 'None', 'Ananya'],
    'Age': [22, None, 21, 24],
    'Score': [95, 87, 92, None]
})
print(data_with_missing)
clean_data = data_with_missing.dropna(how='all')
print("After removing rows with ALL missing values")
print(clean_data)

     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   NaN   87.0
2    None  21.0   92.0
3  Ananya  24.0    NaN
After removing rows with ALL missing values
     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   NaN   87.0
2    None  21.0   92.0
3  Ananya  24.0    NaN

In [ ]:
# Drop Columns with Missing Values:
# Create data with missing values
data_with_missing = pd.DataFrame({
    'Name': ['Aarav', 'Priya', 'None', 'Ananya'],
    'Age': [22, None, 21, 24],
    'Score': [95, 87, 92, None]
})
print(data_with_missing)
clean_data = data_with_missing.dropna(axis=1)
print("After removing all columns with missing values")
print(clean_data)

     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   NaN   87.0
2    None  21.0   92.0
3  Ananya  24.0    NaN
After removing all columns with missing values
     Name
0   Aarav
1   Priya
2    None
3  Ananya

In [ ]:
# Drop Based on Specific Columns:
# Create data with missing values
data_with_missing = pd.DataFrame({
    'Name': ['Aarav', 'Priya', 'None', 'Ananya'],
    'Age': [22, None, 21, 24],
    'Score': [95, 87, 92, None]
})
print(data_with_missing)
clean_data = data_with_missing.dropna(subset=['Age'])
print("After removing missing values from column 'Age'")
print(clean_data)

     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   NaN   87.0
2    None  21.0   92.0
3  Ananya  24.0    NaN
After removing missing values from column 'Age'
     Name   Age  Score
0   Aarav  22.0   95.0
2    None  21.0   92.0
3  Ananya  24.0    NaN

# **Fill Missing Values**

In [ ]:
import pandas as pd
# Fill with Fill with Constant Values:
# Create data with missing values
data_with_missing = pd.DataFrame({
    'Name': ['Aarav', 'Priya', 'None', 'Ananya'],
    'Age': [22, None, 21, 24],
    'Score': [95, 87, 92, None]
})
print(data_with_missing)
# Fill missing values with constant values
data_with_missing = data_with_missing.fillna(0)  # Fill with 0
data_with_missing = data_with_missing.fillna('Unknown')  # Fill with string
print(data_with_missing)

     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   NaN   87.0
2    None  21.0   92.0
3  Ananya  24.0    NaN
     Name   Age  Score
0   Aarav  22.0   95.0
1   Priya   0.0   87.0
2    None  21.0   92.0
3  Ananya  24.0    0.0

In [ ]:
import pandas as pd
# Fill with median:
# Create data with missing values
data_with_missing = pd.DataFrame({
    'Name': ['Aarav', 'Priya', None, 'Ananya'],
    'Age': [22, None, 21, 24],
    'Grade': ['A', 'B', 'A', None],
    'Score': [95, 87, 92, 91]
})
print("Original DataFrame:\n", data_with_missing)

# Fill missing values in 'Age' with mean (avoid chained assignment warning)
data_with_missing['Age'] = data_with_missing['Age'].fillna(data_with_missing['Age'].mean())
print("\nAfter filling missing Age values:\n", data_with_missing)

# Similarly fill missing values in 'Score' with median (avoid chained assignment warning)
data_with_missing['Score'] = data_with_missing['Score'].fillna(data_with_missing['Score'].median())
print("\nAfter filling missing Score values:\n", data_with_missing)

# Similarly fill missing values in 'Grade' with mode [most frequent] (avoid chained assignment warning)
data_with_missing['Grade'] = data_with_missing['Grade'].fillna(data_with_missing['Grade'].mode()[0])
print("\nAfter filling missing Grade values:\n", data_with_missing)

Original DataFrame:
      Name   Age Grade  Score
0   Aarav  22.0     A     95
1   Priya   NaN     B     87
2    None  21.0     A     92
3  Ananya  24.0  None     91

After filling missing Age values:
      Name        Age Grade  Score
0   Aarav  22.000000     A     95
1   Priya  22.333333     B     87
2    None  21.000000     A     92
3  Ananya  24.000000  None     91

After filling missing Score values:
      Name        Age Grade  Score
0   Aarav  22.000000     A     95
1   Priya  22.333333     B     87
2    None  21.000000     A     92
3  Ananya  24.000000  None     91

After filling missing Grade values:
      Name        Age Grade  Score
0   Aarav  22.000000     A     95
1   Priya  22.333333     B     87
2    None  21.000000     A     92
3  Ananya  24.000000     A     91

# **Forward Fill (ffill) **
## Definition: Fill missing values with the last known non-missing value seen above (forward in the dataset).

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Day": [1, 2, 3, 4, 5],
    "Sales": [200, np.nan, np.nan, 250, 300]
})
print(df)
# Forward fill missing values
df_ffill = df.fillna(method="ffill")
print(df_ffill)

   Day  Sales
0    1  200.0
1    2    NaN
2    3    NaN
3    4  250.0
4    5  300.0
   Day  Sales
0    1  200.0
1    2  200.0
2    3  200.0
3    4  250.0
4    5  300.0

/tmp/ipython-input-3761490807.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method="ffill")

# **Backward Fill (ffill) **
## Definition: Fill missing values with the next valid non-missing value (backward in the dataset).

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Day": [1, 2, 3, 4, 5],
    "Sales": [200, np.nan, np.nan, 250, 300]
})
print(df)
# Backward fill missing values
df_bfill = df.fillna(method="bfill")
print(df_bfill)

   Day  Sales
0    1  200.0
1    2    NaN
2    3    NaN
3    4  250.0
4    5  300.0
   Day  Sales
0    1  200.0
1    2  250.0
2    3  250.0
3    4  250.0
4    5  300.0

/tmp/ipython-input-4085276017.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method="bfill")

# **Basic Grouping Operations**
# **Aggregation Functions**

In [ ]:
import pandas as pd
# Group By in Action:
# Sample sales data
sales_data = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'East', 'South', 'East'],
    'Product': ['A', 'B', 'A', 'C', 'B', 'A'],
    'Sales': [100, 150, 200, 80, 120, 90],
    'Month': ['Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Feb']
})
print(sales_data)

  Region Product  Sales Month
0  North       A    100   Jan
1  South       B    150   Jan
2  North       A    200   Feb
3   East       C     80   Jan
4  South       B    120   Feb
5   East       A     90   Feb

In [ ]:
# Group by Region and calculate total sales
region_sales = sales_data.groupby('Region')['Sales'].sum()
print(region_sales)

Region
East     170
North    300
South    270
Name: Sales, dtype: int64

In [ ]:
# Group by multiple columns
monthly_region = sales_data.groupby(['Region', 'Month'])['Sales'].sum()
print(monthly_region)

Region  Month
East    Feb       90
        Jan       80
North   Feb      200
        Jan      100
South   Feb      120
        Jan      150
Name: Sales, dtype: int64

In [ ]:
sales_data.groupby('Region')['Sales'].sum()

Region
East     170
North    300
South    270
Name: Sales, dtype: int64

In [ ]:
sales_data.groupby('Region')['Sales'].mean()

Region
East      85.0
North    150.0
South    135.0
Name: Sales, dtype: float64

In [ ]:
sales_data.groupby('Region')['Sales'].count()

Region
East     2
North    2
South    2
Name: Sales, dtype: int64

In [ ]:
sales_data.groupby('Region')['Sales'].min()

Region
East      80
North    100
South    120
Name: Sales, dtype: int64

In [ ]:
sales_data.groupby('Region')['Sales'].max()

Region
East      90
North    200
South    150
Name: Sales, dtype: int64

In [ ]:
sales_data.groupby('Region').agg({
    'Sales': ['sum', 'mean'],
    'Product': 'count'
})

       Sales        Product
         sum   mean   count
Region
East     170   85.0       2
North    300  150.0       2
South    270  135.0       2

# **Advanced Grouping**  
## **Transform and Apply Operation**

In [ ]:
# Transform operation
# Add group statistics as new columns
sales_data['Region_Mean'] = sales_data.groupby('Region')['Sales'].transform('mean')
sales_data['Sales_vs_Region_Avg'] = sales_data['Sales'] - sales_data['Region_Mean']
print(sales_data)

  Region Product  Sales Month  Region_Mean  Sales_vs_Region_Avg
0  North       A    100   Jan        150.0                -50.0
1  South       B    150   Jan        135.0                 15.0
2  North       A    200   Feb        150.0                 50.0
3   East       C     80   Jan         85.0                 -5.0
4  South       B    120   Feb        135.0                -15.0
5   East       A     90   Feb         85.0                  5.0

# **Apply Custom Functions:**

In [ ]:
def sales_range(group):
    return group.max() - group.min()

# Apply custom function
region_range = sales_data.groupby('Region')['Sales'].apply(sales_range)
print(region_range)

Region
East      10
North    100
South     30
Name: Sales, dtype: int64

# **Filter Groups:**

In [ ]:
# Keep only groups with more than 1 record
filtered = sales_data.groupby('Region').filter(lambda x: len(x) > 1)
print(filtered)

  Region Product  Sales Month  Region_Mean  Sales_vs_Region_Avg
0  North       A    100   Jan        150.0                -50.0
1  South       B    150   Jan        135.0                 15.0
2  North       A    200   Feb        150.0                 50.0
3   East       C     80   Jan         85.0                 -5.0
4  South       B    120   Feb        135.0                -15.0
5   East       A     90   Feb         85.0                  5.0